body {
    width: auto;
    margin: 0;
		padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/*========== nav bar =====*/

/*(header {
    background-color: black;
    color: white;
		width: 100%;
}*/



header {
    overflow: hidden;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

header a {
    text-decoration: none;
    color:white;
    font-weight: 700;
    padding: .25em 0;
}

#nav-container {
		font-size: calc(.5em + 1vw);
    width: 90%;
		margin: 0 auto;
    display: flex;
  	justify-content: space-between;
    padding: .5em 3em;

}


#jm {
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#jm:hover {
		color: #F29057;
}


nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
		
    margin-left: 2em;
}


nav a {
    text-decoration: none;
    color:white;
    font-weight: 700;
    padding: .25em 0;
}

nav a:hover {
		color: #F29057;
}


@media (max-width: 675px) {
    #nav-container {
			padding: 1em 1em;
		}
    
  
    
}
/*=============== Main =======*/



/*=============== First page =======*/

#first-page {
    
    margin-top:16em;
    margin-bottom: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#intro-text {
    
    padding-left: 7em;
    padding-right: 0;
    margin: 0;
    width: 50%;
    
}

h1 {
    font-size: calc(1em + 8vw);
    width: 20%;
    margin: 0;
}

#first-page p {
    font-size: calc(.75em + 1vw);
    margin: 0;
}

#hero-img {
    object-fit: cover; 
    object-position: -170px;
		margin-left: 20px;
    width: 400px; 
    height: 600px;
    border-radius: 15px;
  
    
    
}



@media (max-width: 675px) {
    #first-page {
        width: 100%;
        padding-top:10em ;
        margin-top:8em;
        flex-direction: column;
        align-items: center;
    }

    #intro-text {
    padding-left: 3.5vw;
    width: 90%;
    margin: 0 auto;
    }
		
		#hero-img {
       display: none;
    }

    

    h1 {
        font-size: calc(1em + 15vw);
        
    }
    #first-page p {
        font-size: calc(.75em + 2.5vw);
        margin: 0;
    }


}


/*======== Recent Projects =======*/


#recent {
    height: 4em;
}
#recent-projects {
    width: 80%;
    margin: 0 auto;
    
}


#recent-projects h2 {
    font-size: 4.5em;
    font-weight: 700;
    margin-left: .9em;
}

h3 {
    font-size: 2em;
    font-weight: 700;
}
#recent-projects p {
     font-size: 1.2em;
 }

.projects {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    grid-template-rows: repeat(2, 1fr); 
    grid-gap: 7em;  
}

.project-card {
    border-bottom: black solid 3px;
    border-left: black solid 7px;
    padding: 1.5em;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
    0 2px 2px rgba(0,0,0,0.15), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.15);
}

.links {
    margin-top: 1em;
}


@media (max-width: 800px) {
	#recent-projects {
    width: 90%;
    
}


    #recent-projects h2 {
        font-size: 3.2em;
        font-weight: 700;
        margin-left: .5em;
    }
    
    .projects {
        grid-template-columns: repeat(1,1fr);
        padding: 0;
        margin: 0 auto;
    }
}

.git-link {
    margin-left: 1.5em;
}

/*======== About Me ======= */
#about {
    height: 4em;
}

#about-me {
    width: 80%;
    margin: 0 auto;
    
}

#about-me-text {
    width: 87%;
    margin-left: 4.5em;
    margin-bottom: 15em;
    border-bottom: black solid 3px;
    border-left: black solid 7px;
    padding: 1.5em;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
    0 2px 2px rgba(0,0,0,0.15), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.15);
}
#about-me h2 {
    font-size: 4.5em;
    font-weight: 700;
    padding-left: .9em;
    
}

#about-me p {
    font-size: 1.2;
    font-weight: 400;
    
}

@media (max-width: 675px) {
    #about-me {
        margin-bottom: 7em;
    }
    #about-me h2 {
        font-size: 3.2em;
        font-weight: 700;
        padding-left: .3em;
        
        
    }
    #about-me-text {
        
        margin: 0 auto;
    }
}


/*======== Contact Me ======= */

#contact-me {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15em;
    
}

#contact-me-text {
    width: 87%;
    margin-left: 4.5em;
    border-bottom: black solid 3px;
    border-left: black solid 7px;
    padding: 1.5em;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
    0 2px 2px rgba(0,0,0,0.15), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.15);
}
#contact-me h2 {
    font-size: 4.5em;
    font-weight: 700;
    padding-left: .9em;
    
}

#contact-me p {
    font-size: 1.2em;
    font-weight: 400;
    
}

@media (max-width: 675px) {
    #contact-me h2 {
        font-size: 3.2em;
        font-weight: 700;
        padding-left: .3em;
        
    }
    #contact-me-text {
        margin: 0 auto;
    }
}

/*======== Footer ======= */

footer {
    width: 100%;
    background: black;
    color: white;
    text-align: center;
    padding: 2em;
    
}

.foot-container {
	width: 90%;
	margin: 0 auto;
	display: flex;
  justify-content: space-evenly;
}

footer p {
    font-size: .75em
}

@media (max-width: 675px) {
    footer {
    width: 100%;
    background: black;
    color: white;
    text-align: center;
    padding: 1em 0;
}

footer p {
    font-size: calc(.5em + 1vw);
}
}

